<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>

          <% if @user.posts.count > 0 %>
            <%= pluralize(@user.posts.count, 'post') %>,
          <% else %>
            <%= @user.name %> has not submitted any posts yet. <br />
          <% end %>

          <% if @user.comments.count > 0 %>
            <%= pluralize(@user.comments.count, 'comment') %>
          <% else %>
            <%= @user.name %> has not submitted any comments yet.
          <% end %>

        </small>
      </div>
    </div>
  </div>
</div>

<% if @user.posts.count > 0 %>
  <h2>Posts</h2>
  <%= render @user.posts %>
<% end %>

<% if @user.comments.count > 0 %>
  <h2>Comments</h2>
  <%= render @user.comments %>
<% end %>
